@import "/src/theme/variables.scss";

ion-icon {
  margin-right: 5px;
}

ion-grid.words {
  border: 5px solid $success;
  text-align: center;
}

ion-row.words {
  border: 1px solid $light;
}

ion-col.words {
  border: 1px solid $light;
}
