<ion-content fullscreen>
  <ion-item>
    <ion-label position="stacked">Choosen Word</ion-label>
    <ion-input placeholder="Type a 5 character word."></ion-input>
  </ion-item>

  <ion-item>
    <ion-button expand="block" color="success">
      <ion-icon name="checkbox-outline"></ion-icon>
      ENTER
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-grid class="words">
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="success">1A</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="success">2A</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="success">3A</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="success">4A</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="success">5A</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="warning">1B</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="warning">2B</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="warning">3B</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="warning">4B</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="warning">5B</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="danger">1C</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="danger">2C</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="danger">3C</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="danger">4C</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="danger">5C</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="medium">1D</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="medium">2D</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="medium">3D</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="medium">4D</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="medium">5D</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="secondary">1E</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="secondary">2E</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="secondary">3E</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="secondary">4E</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="secondary">5E</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary">1F</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="primary">2F</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="primary">3F</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="primary">4F</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="primary">5F</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid class="keyboard">
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="primary">q</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="primary">w</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="primary">e</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="primary">r</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="primary">t</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="primary">y</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="primary">u</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="primary">i</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="primary">o</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="primary">p</ion-button>
        </ion-col>

        <ion-col></ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="secondary">a</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="secondary">s</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="secondary">d</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="secondary">f</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="secondary">g</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="secondary">h</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="secondary">j</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="secondary">k</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="secondary">l</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="danger">CLEAR</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="tertiary">z</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="tertiary">x</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="tertiary">c</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="tertiary">v</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="tertiary">b</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="tertiary">n</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="tertiary">m</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" color="success">ENTER</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>