<ion-content fullscreen>
  <table id="menuTable">
    <tr>
      <td colspan="2">
        <img src="assets/icon/wordeco.png">
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <ion-button expand="block" color="hit" (click)="redirectTo('game')">
          PLAY
        </ion-button>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ion-button expand="block" color="close" (click)="redirectTo('config')">
          SETTINGS
        </ion-button>
      </td>
    </tr>

    <tr>
      <td>
        <div class="bubble" id="versionDiv">
          <strong>v{{version}}</strong>
        </div>
      </td>

      <td>
        <div class="bubble" id="madeByDiv">
          <span>
            Made by
            <a href="https://github.com/dudushy" target="_blank">dudushy</a>
            <br>
            &
            <br>
            <a href="https://github.com/Shiyinochi" target="_blank">Shiyinochi</a>
          </span>
        </div>
      </td>
    </tr>
  </table>
</ion-content>