@import "/src/theme/variables.scss";

ion-content {
  --background: $idle;
}

#menuTable {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  // padding-top: 2%;
  // padding-bottom: 2%;
  // padding-left: 2%;
  // padding-right: 2%;
  width: 96%;
  height: 96%;
  text-align: center;
  border-radius: 15px;
  background-color: $background;

  tr,
  td {
    width: 100%;
    height: 100%;
  }

  // td {
  //   border: 1px solid #000;
  // }

  #buttonsTr {
    margin-block: 2%;
  }

  #infoTr {
    // height: 80%;
    // margin: 2%;

    .bubble {
      // width: 100%;
      // height: 100%;
      padding: 1rem;
      border-radius: 10px;
      background: $foreground;
    }

    #versionDiv {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      strong {
        font-size: 1.5rem;
      }
    }

    #madeByDiv {
      span {
        font-size: 1rem;
      }

      a {
        font-size: 1.2rem;
      }
    }
  }
}
