<ion-header>
  <ion-toolbar>
    <ion-title>homepage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="top">
    <ion-item>
      <h2>VERSION</h2>
    </ion-item>
  </div>

  <div class="main">
    <ion-item>
      <img src="#">LOGO
      <ion-button expand="block" color="success">4 LETTERS 2/10</ion-button>
      <ion-button expand="block" color="success">5 LETTERS 9/10</ion-button>
      <ion-button expand="block" color="success">CUSTOM</ion-button>
    </ion-item>
  </div>

  <div class="bottom">
    <ion-item>
      <ion-button expand="block" color="success">CFG</ion-button>
      <ion-button expand="block" color="success">BY</ion-button>
    </ion-item>
  </div>
</ion-content>
